<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form action="/register" method="post">
<input type="text"
placeholder="Enter username"
name = "username">

<input type="text"
placeholder="enter email"
name="email">

<input type="text"
placeholder="enter password"
name="password">
 
<script src="/assets/index.js"></script>

<button >
    submit
</button>

    </form>
    <!-- <h1>Hello World</h1>
    <h3> come on man</h3> -->
</body>
</html>